streamlit
pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
umap-learn
anndata
scanpy
pynndescent
session-info
# Google API Libraries
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
